@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Open-Sans : "Open Sans", sans-serif;
    --Raleway : "Raleway", sans-serif;
}

* {
    margin: 0;
}
body {
    background-color: #011826;
}
.container {
    max-width: 1440px;
    margin:auto;
    padding:0 15px;
}
img {
    width: 100%;
}

/* Header */

#burgermenu {
    display: none;
}
header {
   display: flex;
   justify-content: space-between;
   margin: 10px;
   align-items: center;
}
header img {
    width: 180px;
    height: 36.89px;
    margin: 10px 0;
}
header p {
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    color: white;
}
header nav a {
    color: #FF9A16;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    &:hover {
        color: #E7174A;
    }
}
header ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
header li {
    list-style: none;
}
#Ma-Formation {
    color: #E7174A;
}
#Modale {
    color: white;
    background-color: #FF9A16;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    &:hover {
        background-color: #E7174A;
    }
}
#Dialog {
    background-color: white;
    height: 400px;
    width: 300px;
    margin: 100px 1341px;
    border: white;
}
#Dialog i {
    color: #FF9A16;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: end;
}
#Dialog p {
    color: black;
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
}
#Dialog label {
    display: flex;
    margin: 7px 0;
    font-size: 20px;
}
#Dialog input {
    margin: 8px 0;
    padding: 5px 20px;
}
#Dialog textarea {
    margin: 8px 0;
    padding: 5px 20px;
}
#Dialog #Submit {
    display: block;
    margin: 10px auto;
    background-color: #011826;
    color: white;
    padding: 12px 30px;
    border: #011826;
    &:hover {
        background-color: #E7174A;
    }
}
/* Section 1 */

#Section-1 {
    background-color: rgba(231, 23, 74, 1);
    text-align: center;
    padding: 130px;
    margin: 30px 0;
}
#Section-1 h1 {
    color: white;
    font-family: var(--Raleway);
    font-size: 36px;
    font-weight: 700;
}
#Section-1 p {
    color: white;
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    margin: 15px 0;
}

/* Section 2 */

#Section-2 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin: 110px 0;
}
#Section-2 article {
    margin: 250px auto;
}
#Section-2 h2 {
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 36px;
    color: white;
}
#Section-2 p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0;
}
#Section-2 img {
    height: 680px;
    width: 680px;
}

/* Section 3 */

#Section-3 h2 {
    color: white;
    text-align: center;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 36px;
    margin: 30px 0;
}
 summary {
    list-style: none; 
}
details {
    background-color: white;
    margin: 20px 0;
    padding: 15px;
    width: 670px;
}
#Section-3 span {
    color: #FF9A16;
    font-family: var(--Open-Sans);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid #E7174A;
    padding: 5px;
}
/* Section 3 Article 1 Langages de programmation */
#Langages-de-programmation {
    margin: 20px 0;
}
#Langages-de-programmation li {
   margin: 10px 13px;
}

/* Section 3 Article 2 Frameworks et bibliothèques */
#Frameworks-et-bibliothèques {
    margin: 20px 13px;
}
#Frameworks-et-bibliothèques div {
    margin: 10px 43px;
}

/* Section 3 Article 3 Bases de données */
#Bases-de-données {
    margin: 20px 0;
}
#Bases-de-données li {
   margin: 10px 13px;
}

/* Section 3 Article 4 Outils de développement */

#Outils-de-développement {
    margin: 20px 0;
}
#Outils-de-développement li {
    margin: 10px 13px;
}

/* Section 3 Article 5 Conception Web */
#Conception-Web {
    margin: 20px 0;
}
#Conception-Web li {
   margin: 10px 13px;
}

/* Section 3 Article 6 Services Web */
#Services-Web {
    margin: 20px 0;
}
#Services-Web li {
   margin: 10px 13px;
}

/* Section 3 Article 7 Sécurité */
#Sécurité {
    margin: 20px 0;
}
#Sécurité li {
    margin: 10px 13px;
}

/* Section 3 Article 8 Autres compétences */
#Autres-compétences {
    margin: 20px 0;
}
#Autres-compétences li {
    margin: 10px 13px;
}

#Compétences {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Section 4 */

#Section-4 h2 {
    color: white;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 36px;
    margin: 130px 0;
}
#Section-4 img {
    width: 414.67px;
    height: 180px;
    margin: 10px 10px;
}
#Section-4  h3 {
    color: white;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 21px;
}
#Section-4 p {
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 15px 0;
}
#Project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
#Project article {
   border: 1px solid white;
    padding: 5px;
    padding-bottom: 1px;
}
.info {
    margin: 20px 10px;
}
.btn1 {
    border: 1px solid white;
    background-color: #011826;
    color: white;
    font-family: var(--Open-Sans);   
    font-weight: 400;
    font-size: 16px;
    padding: 10px 10px;
    margin: 15px 10px;
    &:hover {
        background-color: #E7174A;
    }
}
#btn2 {
    border: 1px solid white;
    background-color: #011826;
    color: white;
    font-family: var(--Open-Sans);   
    font-weight: 400;
    font-size: 16px;
    padding: 10px 10px;
   display: block;
   margin: 10px auto;
   &:hover {
        background-color: #E7174A;
    }
}
#Section-4 a {
    color: white;
    text-decoration: none;
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
}

/* footer */

footer {
    background-color: #2CC1AA;
    height: 152px;
    
}
footer p {
    color: white;
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}


@media screen and (max-width:1024px) {

    /* header */ 

    #burgermenu{
        display: flex;
        color: white;
        font-weight: 900;
        font-size: 16px;
    }
    .nav-links {
        display: none; 
    }
    .nav-links li {
        margin: 7px 0;
    }
    .nav-links.active {
        display: block; 
        position: absolute;
        right: 5%;   
        top: 1%;
    }
    #Dialog {
        margin: 113px 500px;
    }

    /* Section 1 */

    #Section-2 div {
        display: grid;
        grid-template-columns: 1fr;
    }
    #Section img {
        width: 738px;
        height: 738px;
    }

    /* Section 3 */

    details {
        width: 440px;
    }

     /* Section 4 */

    #Project{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }   
}


@media screen and (max-width:767px) {

    /* header */
    
     #Dialog {
        margin: 113px auto;
        height: 400px;
        width: 250px;
    }
}