@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Open-Sans : "Open Sans", sans-serif;
    --Raleway : "Raleway", sans-serif;
}

* {
    margin: 0;
}
body {
    background-color: #011826;
}
.container {
    max-width: 1440px;
    margin:auto;
    padding:0 15px;
}
img {
    width: 100%;
}

/* Header */

#burgermenu {
    display: none;
}
header {
   display: flex;
   justify-content: space-between;
   margin: 10px;
   align-items: center;
}
header img {
    width: 180px;
    height: 36.89px;
    margin: 10px 0;
}
header p {
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    color: white;
}
header nav a {
    color: #FF9A16;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    &:hover {
        color: #E7174A;
    }
}
header ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
header li {
    list-style: none;
}
#Accueil {
    color: #E7174A;
}
#Modale {
    color: white;
    background-color: #FF9A16;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    &:hover {
        background-color: #E7174A;
    }
}
#Dialog {
    background-color: white;
    height: 400px;
    width: 300px;
    margin: 100px 1341px;
    border: white;
}
#Dialog i {
    color: #FF9A16;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: end;
}
#Dialog p {
    color: black;
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
}
#Dialog label {
    display: flex;
    margin: 7px 0;
    font-size: 20px;
}
#Dialog input {
    margin: 8px 0;
    padding: 5px 20px;
}
#Dialog textarea {
    margin: 8px 0;
    padding: 5px 20px;
}
#Dialog #Submit {
    display: block;
    margin: 10px auto;
    background-color: #011826;
    color: white;
    padding: 12px 30px;
    border: #011826;
    &:hover {
        background-color: #E7174A;
    }
}
/* Section 1 */
#Section-1 {
    margin: 101px 0;
}
#Section-1 div {
    /* display: flex;
    justify-content: space-between;
    gap: 200px; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
#Section-1 h1 {
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 36px;
    color: white;
    margin: 15px 0;
}
#Section-1 p {
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 13px 0;
}
#Section-1 img {
    width: 664px;
    height: 664px;
}


/* Section 2 */

/* Div 1 */

#div1 {
    display: flex;
    justify-content: center;
}
#div1 a {
    color: white;
    text-decoration: none;
    background-color: #011826;
    border: 1px solid white;
    padding: 10px;
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 30px;
    left: 160px;
    &:hover {
        background-color: #E7174A;
    }
}
#Section-2 h2 {
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 36px;
    color: white;
    text-align: center;
    margin: 70px 0;
}
#Section-2 img {
    width: 798px;
    height: 798px;
}
#Section-2 h3 {
    color: white;
    font-weight: 700;
    font-size: 21px;
    margin: 25px 38px ;
}
#Section-2 p {
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 25px 38px;
}
#Formation {
    background-color: #FF9A16;
    width: 442px;
    height: 452px;
    position: relative;
    top: 180px;
    right: 90px;
}

/* Div 2 */

#div2 {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
#div2 a {
    color: white;
    text-decoration: none;
    background-color: #011826;
    border: 1px solid white;
    padding: 10px;
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 30px;
    left: 160px;
    &:hover {
        background-color: #E7174A;
    }
}
#Formation-2 {
    background-color: #FF9A16;
    width: 442px;
    height: 452px;
    position: relative;
    top: 180px; 
}
#IMGdwwn {
    position: relative;
    right: 90px;
}

/* Section 3 */

#Section-3 h2 {
    color: white;
    text-align: center;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 36px;
    margin: 30px 0;
}
#Section-3 li {
    list-style: none;
    background-color: white;
    margin: 20px 0;
    padding: 15px;
    width: 670px;
}
#Section-3 a {
    color: #FF9A16;
    font-family: var(--Open-Sans);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid #E7174A;
    padding: 5px;
}
#Compétences {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Section 4 */ 

#Mes-projets{
    display: flex;
    justify-content: space-between;
    margin: 100px 0; 
}
#btn1 {
    border: 1px solid white;
    background-color: #011826;
    color: white;
    font-family: var(--Open-Sans);   
    font-weight: 400;
    font-size: 16px;
    padding: 10px 10px;
    &:hover {
        background-color: #E7174A;
    }
}
#Section-4 h2 {
    color: white;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 36px;
}
#Section-4 img {
    width: 414.67px;
    height: 180px;
    margin: 10px 10px;
}
#Section-4  h3 {
    color: white;
    font-family: var(--Raleway);
    font-weight: 700;
    font-size: 21px;
}
#Section-4 p {
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 15px 0;
}
#Project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
#Project article {
   border: 1px solid white;
    padding: 5px;
    padding-bottom: 1px;
}
.info {
    margin: 20px 10px;
}
.btn2 {
    border: 1px solid white;
    background-color: #011826;
    color: white;
    font-family: var(--Open-Sans);   
    font-weight: 400;
    font-size: 16px;
    padding: 10px 10px;
    margin: 15px 10px;
    &:hover {
        background-color: #E7174A;
    }
}
#Section-4 a {
    color: white;
    text-decoration: none;
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
}

/* footer */
footer {
    background-color: #2CC1AA;
    padding: 15px;
    
}
footer p {
    color: white;
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}


@media screen and (max-width:1024px) {

    /* header */ 

    #burgermenu{
        display: flex;
        color: white;
        font-weight: 900;
        font-size: 16px;
    }
    .nav-links {
        display: none; 
    }
    .nav-links li {
        margin: 7px 0;
    }
    .nav-links.active {
        display: block;
        position: absolute;
        right: 5%
    }
    
    /* Section 1 */

    #Section-1 div {    
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
    }
    #Section-1 img {
        width: 369px;
        height: 369px;
        display: block;
        margin: 0 auto;
    }

    /* Section 2 */

    #Section-2 img {
        width: 516.59px;
        height: 516.56px;
    }
    #Formation {
        position: relative;
        top: 10px;
        height: 609px;
        width: 321.41px;
    }
    #Formation-2 {
        position: relative;
        top: 10px;
        height: 609px;
        width: 321.41px;
    }
    #IMGDev {
        position: relative;
        top: 55px;
    }
    #IMGdwwn {
        position: relative;
        top: 55px;
    }
    #div1 a {
        left: 100px;
    }
    #div2 a {
        left: 100px;
    }
    /* Section 3 */

    #Section-3 li {
        width: 440px;
    }

    /* Section 4 */

    #Project{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }   
   
    

}

@media screen and (max-width:767px) {
    /* header */

    /* Section 1 */

    #Section-1 img {
        width: 261px;
        height: 261px;
    }

    /* Section 2 */

    #Section-2 img {
        height: 203px;
        width: 203px;
    }

    /* Section 3 */

    /* Section 4 */

    #Project{
        display: grid;
        grid-template-columns: 1fr ;
    }     
    
}